<%- include('./includes/header.ejs') -%>
<div class="container"> 
    <h1>با هم بخوانیم</h1>
    <span class="fa fa-plus" />
    <button class="btn btn-primary">Hello</button>
    <button class="btn btn-outline-danger">Click</button>
</div>
<%- include('./includes/footer.ejs') -%>
